:root {
}

* {
  padding: 0;
  margin: 0;
}

/* total height 5.5vh */
header {
  background: #9bdb5a;
  border: 0.25vh solid black; /* adds 0.5 (0.25 * 2)*/
  height: 4.5vh;
}

/* modal stuff */

/* total height 93vh */
.gameContainer {
  background: white;
  border: 1.5px solid black;
}

.gameContainer:hover {
  background: grey;
  border: 1.5px solid white;
  cursor: pointer;
}

.modalWindow {
  margin-left: 32.5%;
  margin-top: 1em;
  width: 35%;
  padding: 0.5em;
  background: #9bdb5a;
  border: 1.5px solid black;
}

#title {
  padding-bottom: 0.5em;
}

.label {
  display: inline-block;
  width: 5em;
}

.input {
  display: inline;
}

#buttonContainer {
  padding-top: 0.5em;
}

.button {
  margin: 0.5em;
}
