/* css for elements involved in the actual game */

/* total height 90vh */
#gameContainer {
  background: white;
  height: 95vh;
}

/*
 * buttons for controls
 * eg. end turn
 */
#container_footerButtons {
  background: blue;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  grid-area: container_footerButtons;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#oppositionContainer {
  background: red;
}

#battlefieldContainer {
  background: blue;
}

#playerContainer {
  background: green;
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.companion0 {grid-area: companion0;}
.companion1 {grid-area: companion1;}
.companion2 {grid-area: companion2;}
.companion3 {grid-area: companion3;}

.sideContainer {
  display: grid;
  grid-template-areas:
    'companion0 companion1 companion2 companion3';
  grid-gap: 1em;
}

.companionContainer > .header {grid-area: header;}
.companionContainer > .icon {grid-area: icon;}
.spell0 {grid-area: spell0;}
.spell1 {grid-area: spell1;}
.spell2 {grid-area: spell2;}
.spell3 {grid-area: spell3;}

.companionContainer {
  /* grid stuff */
  display: grid;
  grid-template-areas:
    'header header'
    'icon spell0'
    'icon spell1'
    'icon spell2'
    'icon spell3';
  grid-gap: 1em;

  /* other stuff */
  background: pink;
  border: 1.25px solid black;
  max-width: 15em;
}

.header {
  background: khaki;
  border-bottom: 1.25px solid black;
}

.spell {
  background: white;
  border: 1.25px solid black;
  height: 1.25em;
}

.spell_dragover {
  background: blue;
}

/* shop stuff */
.shop_spell0 {grid-area: shop_spell0;}
.shop_spell1 {grid-area: shop_spell1;}
.shop_spell2 {grid-area: shop_spell2;}

#shop_container {
  background: grey;
  position: absolute;
  top: 50%;
  left: 50%;

  display: grid;
  grid-template-areas:
    'shop_spell0 shop_spell1 shop_spell2';
  grid-gap: 1em;

  padding: 0.5em 1em 0.5em 1em;
  border: 0.2em solid black;
  border-radius: 0.5em;
}

.shop_spell {
  border: 0.2em solid black;
  border-radius: 0.5em;
}
